@import './configuration.scss';

.blocks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $color-white;
  color: black;
  padding: 20px;
  border-radius: $border-radius;
  justify-content: center;
  align-items: center;
}
