@import './configuration.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-style;
}

body {
  background: $color-blue;
}

.content-wrapper {
  color: $color-white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-title {
  text-align: center;
  font-size: 40px;
  font-weight: $font-bold;
  color: $color-white;
}
